<mat-paginator #paginator
  [length]="totalRows$ | async"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
></mat-paginator>

<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" mat-sort-header="name">Name</span>
    <!-- <span class="mat-header-cell" mat-sort-header="position">Number</span> -->
    <!-- <span class="mat-header-cell" mat-sort-header="weight"></span> -->
    <span class="mat-header-cell" mat-sort-header="symbol">Symbol</span>
  </section>

  <mat-expansion-panel *ngFor="let item of displayedRows$ | async">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{item.name}}</span>
      <span class="mat-cell">{{item.position}}</span>
      <span class="mat-cell">{{item.weight}}</span>
      <span class="mat-cell">{{item.symbol}}</span>
    </mat-expansion-panel-header>
    <div><pre>{{item | json}}</pre></div>
  </mat-expansion-panel>

</mat-accordion>