::ng-deep{
    #file-manager{
  
      .side-view {
        height: auto;
  
        .side-view-preview-title {
          font-weight: normal;
        }
      }
  
      .node-lister-list-item {
        line-height: 1.4em;
      }
  
      .file-manager-left {
        border: 0;
        box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.2);
        margin: 0;
        padding: 20px 5px 0;
        width: 20%;
  
        #tree_root {
          display: none;
        }
  
        .node-lister-flist {
          margin: 0 0 0 1em;
        }
      }
      .item-holder {
          flex-direction: column;
          // overflow: ;
      }
      app-node{
        order: 10;
      }
      .item-line {
        padding: 0px 20px;
  
        .item-entry {
          border-bottom: 1px solid #ccc;
  
          .item {
            padding: 18px 25px;
          }
        }
      }
      .item-entry:hover {
        background: #efefef;
      }
  
  
      .new {
        order: 0;
  
        .item-upload {
          background: steelblue;
          color: white;
          text-align: right;
         
          i {
            color: white;
            transition: transform 1s ease-in;
          }
        }
      }
  
      .item-upload:hover {
     
        i {
          transform: scale(1.01);
        }
      }
  
      .item-back {
        order: 5;
      }
  
      .item {
        padding: 5px;
        padding: 15px 35px;
        cursor: pointer;
  
        i {
          padding-right: 15px;
        }
      }
      
      .side-view-preview-content {
        display: none;
      }
  
    }
  }